body {
    background: #abb8c3;
    margin:0%;
    font-family: 'Lucida Sans Regular';
}

h1,
h2, h3, h4 {
    font-family: 'Trebuchet MS';
    text-align: center;
    color: black;
    margin-left: 20px;
    margin-right: 20px;
    padding: auto;
    border-radius: 10px;
    background-color: darkcyan;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
    margin-left: 20px;
    color: black;
}

b,
blockquote {
    font-family: 'Tahoma';
    color: brown;
    font-style: oblique;
}

.blockquote {
    text-align: center;
}

div {
    align-items: center;
}

ul,
ol {
    align-items: center;
}

img {
    width: 594px;
    height: 334px;
}